* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
  padding: 10px 0;
}
.nav a {
  text-decoration: none;
}
.nav__logo {
  color: black;
}
.nav__link {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

@media screen and (min-width: 481px) {
  .nav a {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 769px) {
  .nav a {
    font-size: 1.4em;
  }
}
.header {
  background-image: url(../img/eau.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  text-align: center;
  color: white;
  font-size: 1.2em;
  margin-bottom: 10px;
}

@media screen and (min-width: 481px) {
  .header {
    height: 350px;
  }
  .header__title {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 769px) {
  .header {
    height: 450px;
  }
  .header__title {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 600px;
  }
}
.section__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.article {
  width: 60%;
  margin: 10px auto;
}
.article__img {
  width: 60px;
}
.article__title {
  font-size: 1em;
  margin: 10px 0;
}
.article__text {
  font-size: 0.9em;
}

.separator {
  margin: 20px 50px;
}

.section__contact {
  text-align: center;
}
.section__contact .contact__title {
  font-size: 1.5em;
}

@media screen and (min-width: 481px) {
  .section__article {
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }
  .section__article .article {
    width: 40%;
  }
  .section__article .article__img {
    width: 80px;
  }
  .section__article .article__title {
    font-size: 1.1em;
  }
  .section__article .article__text {
    font-size: 1em;
  }
}
@media screen and (min-width: 769px) {
  .section__article {
    flex-wrap: nowrap;
  }
  .section__article .article {
    width: 30%;
  }
  .section__article .article__img {
    width: 90px;
  }
  .section__article .article__title {
    font-size: 1.2em;
  }
  .section__article .article__text {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1280px) {
  .section__article .article {
    width: 25%;
  }
}
.footer {
  background-color: lightgray;
  padding: 50px 0;
  padding-left: 40px;
}
.footer__list {
  display: flex;
  gap: 5px;
  list-style: none;
}
.footer__list a {
  text-decoration: none;
  color: blue;
  font-size: 0.8em;
}
.footer__text {
  color: gray;
  font-size: 0.8em;
}

@media screen and (min-width: 481px) {
  .footer__list a, .footer__text {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 1280px) {
  .footer__list a, .footer__text {
    font-size: 1em;
  }
}
.form__btn {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

input {
  background-color: lightgray;
  padding: 10px 0 10px 10px;
  border: none;
}

.form__textarea {
  background-color: lightgray;
  padding: 10px 0 10px 10px;
  border: none;
  width: 250px;
  resize: none;
}

.form {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.contact__form {
  margin: 20px auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  width: 350px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.contact__form .form__name {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact__form .form__name input {
  width: 250px;
}
.contact__form .form__btn {
  margin-right: 190px;
}

@media screen and (min-width: 481px) {
  .contact__form {
    width: 500px;
  }
  .contact__form .form__name {
    flex-direction: row;
    justify-content: center;
  }
  .contact__form .form__name input {
    width: 35%;
  }
  .contact__form .form__btn {
    margin-right: 55%;
  }
  .form__textarea {
    width: 325px;
  }
}
@media screen and (min-width: 769px) {
  .contact__form {
    width: 700px;
  }
  .contact__form .form__btn {
    margin-right: 450px;
  }
  .contact__form .form__name input {
    width: 250px;
  }
  .form__textarea {
    width: 515Px;
  }
}

/*# sourceMappingURL=style.css.map */
