.header {
    background-image: url(../img/eau.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        text-align: center;
        color: white;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
}

@include breakpoint(tablet) {
    .header {
        height: 350px;

        &__title {
            font-size: 1.5em;
        }
    }
}

@include breakpoint(laptop) {
    .header {
        height: 450px;
        &__title {
            font-size: 1.8em;
        }
    }       
}

@include breakpoint(dekstop) {
    .header {
        height: 600px;
    }
}