// First section

.section__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 481px){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px;
    }
    @media screen and (min-width: 769px) {
        flex-wrap: nowrap;
        justify-content: space-around;

    }
}

.article {
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
        height: 50px;
        margin-bottom: 10px;

    }
    &__title {
        margin-bottom: 10px;
    }
    &__text {
        width: 60%;
    }
}

.separator {
    margin: 50px 50px;
}

// Seconde section

.contact__title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
}

// Form in forms.scss