.section__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.article {
    width: 60%;
    margin: 10px auto;

    &__img {
        width: 60px;
    }

    &__title {
        font-size: 1em;
        margin: 10px 0;
    }

    &__text {
        font-size: 0.9em;
    }
}

.separator {
    margin: 20px 50px;
}

.section__contact {
    text-align: center;

    .contact__title {
        font-size: 1.5em;
    }
}

@include breakpoint(tablet) {
    .section__article {
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        .article {
            width: 40%;

            &__img {
                width: 80px;
            }

            &__title {
                font-size: 1.1em;
            }

            &__text {
                font-size: 1em;
            }
        }
    }
}

@include breakpoint(laptop) {
    .section__article {
        flex-wrap: nowrap;
        .article {
            width: 30%;

            &__img {
                width: 90px;
            }

            &__title {
                font-size: 1.2em;
            }

            &__text {
                font-size: 1.1em;
            }
        }
    }
}

@include breakpoint(dekstop) {
    .section__article {
        .article {
            width: 25%;
        }
    }
}