.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
    padding: 10px 0;
    & a {
        text-decoration: none;
    }
    &__logo {
        color: black;
    }
    &__link {
        background-color: blue;
        color: white;
        padding: 10px;
        border-radius: 10px;
        border: none;
    }
}
@include breakpoint(tablet) {
    .nav {
        & a {
            font-size: 1.2em;
        }
    }
}

@include breakpoint(laptop) {
    .nav {
        & a {
            font-size: 1.4em;
        }
    }
}