input {
    background-color: lightgray;
    padding: 10px 0 10px 10px;
    border: none;
    width: 250px;
}
.form__textarea {
    background-color: lightgray;
    padding: 10px 0 10px 10px;
    border: none;
    width: 250px;
    resize: none;
}
.form {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.contact__form {
    margin: 20px auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    width: 350px;
    padding-bottom: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    .form__name {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .form__btn {
        margin-right: 190px;
    }
}

@include breakpoint(tablet) {

    .contact__form {
        width: 80%;
        .form__name {
            flex-direction: row;
            justify-content: center;
        }
        .form__btn {
            margin-right: 350px;
        }
    }
    .form__textarea {
        width: 70%;
    }

}

@media screen and (min-width: 769px) {

    .contact__form {
        width: 700px;
        .form__btn {
            margin-right: 450px;
        }
    }
    .form__textarea {
        width: 515Px;
    }
}

@media screen and (min-width: 1280px) {
    
}